@charset "utf-8"; 

.myfont {
    color: #216C4D;
    font-family: "Kanit", sans-serif;
    font-style: normal;
    font-weight: bolder;
}

.myfont2 {
    color: #000000;
 font-family: "Nanum Myeongjo", serif;
    font-style: normal;
    text-align: center;
    font-weight: lighter;
}
.mybox {
    width: 500px;
    height: 80px;
    border-width: 8px;
    border-color: #9CB49C;
    background-color: #B6D5A9;
    margin-bottom: 9px;
    margin-left: 15px;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
	border-radius: 16px;
} 
#fonts {
	
font-family: "Nanum Myeongjo", serif;
}
#fonts1 {font-family: "Nanum Myeongjo", serif;
}
#fonts2 {font-family: "Nanum Myeongjo", serif;
}
#fonts3 {font-family: "Nanum Myeongjo", serif;
}

.col-md-5 {
	background-color: #F8E3F3
}

.fw-bolder {
	color: #FFFFFF
}

.tagline {
	color: #FFFFFF
}
